.container {
    padding: 50px;
    background-color: black;
}
.swiper {
    width: 345px;
    height: 749px;
}
.swiper-slide {
    height: 553px;
    width: 255px !important;
    /* padding-right: 15px; */
}

.swiper-pagination-bullet {
    width: 75px;
    height: 3px;
    background-color: #BFBFBF;
    border: none;
    border-radius: 0%;
}
.swiper-pagination-bullet-active {
    background-color: #FF00CC !important;
}